/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}
/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */


.flexkontejner{
    display: flex;
    flex-direction: column;
}

.hlavni{
    display: flex;
    background-image: url(images/salat.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    background-size: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    flex-grow: 1;
}
.horni{
    display:flex;
    width: 100%;
    justify-content:space-between;  
    margin: 0em;
}
h1{
    align-self: flex-start;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 28px; 
    margin: 0em;
}
.text {
    font-weight: 400;
    font-size: 14px;
    font-family: "Source Sans Pro";
    margin: 0;
}

.chlebicek{
    display: flex;
    background-image: url(images/chlebicek.jpg);
    min-height: 90px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    padding:10px;
    flex-grow: 1;

}

    p {
        font-weight: 400;
        font-size: 14px;
        font-family: "Source Sans Pro";
        margin: 0em;
    }

    h2{
        font-family: "Raleway";
        font-weight: 800;
        font-size: 18px; 
        align-self: flex-end;
        margin: 0em;
    }
  

    .tacos{ 
        display: flex;
        background-image: url(images/tacos.jpg);
        min-height: 90px;
        align-items: flex-start;
        background-size: 100%;
        background-position: center;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        flex-grow: 1;

    }

    .cizrna{
        display: flex;
        background-image: url(images/cizrna.jpg);
        min-height: 90px;
        align-items: flex-start;
        background-size: 100%;
        background-position: center;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        flex-grow: 1;

    }

    .burgery{
        display: flex;
        background-image: url(images/burger.jpg);
        min-height: 90px;
        align-items: flex-start;
        background-size: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding:10px;
        flex-grow: 1;

    }

    @media (min-width: 480px) {
        .hlavni{
           min-height: 250px; 
        }
        .chlebicek, .tacos, .cizrna, .burgery{
            min-width: 50%;
            min-height: 150px;
        }
     
         .male{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 22px;
        }
    } 
    @media (min-width: 860px) {

        .flexkontejner{
            flex-direction: row;
         }
            .hlavni{
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: space-between;
            min-width: 33%;
            min-height: 400px;
            }

            .chlebicek, .tacos, .cizrna, .burgery{
                min-height: 200px; 
                padding: 20px; 
            }
       
       
    }
